{% extends 'homebase.html' %}
{% load static %}

 

{% block content %}
<div class="row">
	<div class="col-lg-6">
                                <div class="cta-wrapper text-center">
                                    <h3 class="cta-title">Get the Latest Deals</h3><!-- End .cta-title -->
                                    <p class="cta-desc">and <br>receive <span class="text-primary">$20 coupon</span> for first shopping</p><!-- End .cta-desc -->
                            
                                    <form action="#" method="post">
                                        {% csrf_token %}
                                       
                                        <div class="input-group">
                                            <input type="email" class="form-control" placeholder="Enter your Email Address" name="email" aria-label="Email Adress" required>
                                            <div class="input-group-append">
                                                <button class="btn btn-primary btn-rounded" type="submit"><i class="icon-long-arrow-right"></i></button>
                                            </div><!-- .End .input-group-append -->
                                        </div><!-- .End .input-group -->
                                    </form>
                                    <form method="post">
    
    
   
                                </div><!-- End .cta-wrapper -->
                            </div><!-- End .col-lg-6 -->
	
</div>

{% endblock%}