{% extends 'homebase.html' %}
{% load static %}

 

{% block content %}

<div>
<hr class="mt-4 mb-4">
                     <div class="row">
                     	<div class="col-lg-3"></div>
                     	<div class="col-lg-6">
                    <div class="text-center">
                        <h2 class="title">Thank you. You have successfully unsubscribed from our newsletter. </h2><!-- End .title -->
                        
                        <div class="heading-right">
                            <a href="{% url 'store' %}" class="title-link">Start Shopping Now <i class="icon-long-arrow-right"></i></a>
                        </div>
                    </div><!-- End .text-center -->
                    </div>
                    <div class="col-lg-3"></div>
                     </div>
                    <hr class="mt-4 mb-4">
</div>

{% endblock %}