setuptools>=57.0.0
twilio
pip>=21.0
Django==3.0.7
django-allauth
djangorestframework
django-crispy-forms
django-environ
django-widget-tweaks
deep-translator
djangorestframework-jwt
python-magic
psycopg2
django-select2
pillow
django-redis
django-cors-headers
django-filter
django-storages
celery
redis
python-dotenv
django-debug-toolbar
django-extensions
django-haystack
sorl-thumbnail==12.10.0
django-imagekit
channels
django-admin-thumbnails
django-analytical
django-chartjs
django-cities-light
django-colorfield
django-colorful
django-jsonfield
django-robots
django-tinymce
chargily_pay
beautifulsoup4
graphene
graphene-django
numpy
oauthlib
pdfkit
jsonfield
phonenumbers
Pillow
pipenv
python-slugify
python-social-auth
urllib3
unicorn
Unidecode
Twisted
sorl-thumbnail
social-auth-app-django
social-auth-core
selenium
requests
requests-futures
requests-oauthlib
psycopg2
gunicorn
python-utils==2.0.0
pytz==2023.3
python-decouple
django-phone-field==1.8.1
psycopg2-binary
pwntools
python-gettext
python-http-client
PyJWT
