{% extends 'homebase.html' %}
{% load static %}
{% load i18n %}

{% block content %}
{% if current_language == 'ar' %}
    <style>
        .main {
            direction: rtl;
        }
        tr{
            text-align: center;
        }
        .row{
            text-align: right;
        }
        .product-media{
            margin-right: 0.2rem !important;
            margin-left: 1em !important;
        }
    </style>
   {% endif %}

 <main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">{% trans "Home" %}</a></li>
                <li class="breadcrumb-item"><a href="#">{% trans "Pages" %}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% trans "Service Error 500" %}</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="error-content text-center" style="background-image: url({% static 'images/backgrounds/error-bg.jpg' %})">
        <div class="container">
            <h1 class="error-title">{% trans "Server Error (500)" %}</h1><!-- End .error-title -->
            <p>{{ error_message }}</p>
            <a href="/" class="btn btn-outline-primary-2 btn-minwidth-lg">
                <span>{% trans "BACK TO HOMEPAGE" %}</span>
                <i class="icon-long-arrow-right"></i>
            </a>
        </div><!-- End .container -->
    </div><!-- End .error-content text-center -->
</main><!-- End .main -->

{% endblock %}
