{% extends 'homebase.html' %}
{% load static %}

{% load i18n %}

{% block content %}
{% if current_language == 'ar' %}
    <style>
    	.main {
    		direction: rtl;
    	}
    	tr{
    		text-align: center;
    	}
    	.row{
    		text-align: right;
    	}
    	.product-media{
    		margin-right: 0.2rem !important;
    		margin-left: 1em !important;
    	}
    </style>
   {% endif %}
    <main class="main">
        <!-- Include the ads template -->
            {% include 'partials/ads.html' %}
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">{% trans "Account" %}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{% trans "Change Password" %}</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="dashboard">
                <div class="container">
                    <div class="row">
                        {% include 'includes/dashboard_sidebar.html' %}

                        <div class="col-md-8 col-lg-9">
                            <p style="text-align: center;">{% trans "Change Password" %}</p><br>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
                                    <form action="{% url 'change_password' %}" method="POST">
                                        {% csrf_token %}

                                        <label>{% trans "Current password (leave blank to leave unchanged)" %}</label>
                                        <input type="password" name="current_password" class="form-control">

                                        <label>{% trans "New password (leave blank to leave unchanged)" %}</label>
                                        <input type="password" name="new_password" class="form-control">

                                        <label>{% trans "Confirm new password" %}</label>
                                        <input type="password" name="confirm_password" class="form-control mb-2">

                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>{% trans "SAVE CHANGES" %}</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>
                                    </form>

                                </div><!-- .End .tab-pane -->

                            </div>
                        </div><!-- End .col-lg-9 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .dashboard -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->
{% endblock %}
