{% extends 'homebase.html' %}
{% load static %}



{% block content %}
 <main class="main">
        	<div class="page-header text-center" style="background-image: url('{% static 'images/page-header-bg.jpg' %}')">
        		<div class="container">

        			<h1 class="page-title">My Account<span>{{user.full_name}}</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'dashboard'%}">Account</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Change Password</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="dashboard">
	                <div class="container">
	                	<div class="row">
	                		{% include 'includes/dashboard_sidebar.html' %}

	                		<div class="col-md-8 col-lg-9">
	                			<div class="tab-content">
								    <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
								    	<form action="{% url 'change_password' %}" method="POST">
					                    {% csrf_token %}
			                				

		            						
		            						<label>Current password (leave blank to leave unchanged)</label>
		            						<input type="password" name="current_password" class="form-control">

		            						<label>New password (leave blank to leave unchanged)</label>
		            						<input type="password" name="new_password" class="form-control">

		            						<label>Confirm new password</label>
		            						<input type="password" name="confirm_password" class="form-control mb-2">

		                					<button type="submit" class="btn btn-outline-primary-2">
			                					<span>SAVE CHANGES</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>
			                			</form>
								    	
								    </div><!-- .End .tab-pane -->

								   

								    
								    
								</div>
	                		</div><!-- End .col-lg-9 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

{% endblock %}