{% extends 'homebase.html' %}
{% load static %}



{% load i18n %}

{% block content %}
{% if current_language == 'ar' %}
    <style>
      .main {
        direction: rtl;
      }
      tr{
        text-align: center;
      }
      .row{
        text-align: right;
      }
      .product-media{
        margin-right: 0.2rem !important;
        margin-left: 1em !important;
      }
      .list-group-item b{
        margin-left: 2em;
      }
    </style>
   {% endif %}
 <main class="main">
        	<!-- Include the ads template -->
            {% include 'partials/ads.html' %}
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">{% trans 'Home' %}</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">{% trans 'Account' %}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{% trans 'My orders' %}</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="dashboard">
	                <div class="container">
	                	<div class="row">
	                		{% include 'includes/dashboard_sidebar.html' %}


	                		<div class="col-md-8 col-lg-9">
	                			<div class="tab-content">
								    <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
{%if chat_rooms %}
<p style="text-align: center;">{% trans 'List of Messages Products' %}</p> <br>								    	
<!-- create table for orders -->
<table class="table">
  <thead>
    <tr>
      <th scope="col"><b>{% trans 'Product Name' %}#</b></th>
      <th scope="col"><b>{% trans 'Sender' %}</b></th>
      <th scope="col"><b>{% trans 'Date' %}</b></th>
     
    </tr>
  </thead>
  <tbody>
  	{% for msg in chat_rooms%}
    <tr>
      <td > {{msg.product_rome}}</td>
      <td>{{msg.owner}}</td>
      <td>{{msg.timestamp}}</td>
      
      <td><a href="{% url 'chat_room_messages' msg.id %}"> {% trans 'see message' %}</a></td>
    </tr>
    {% endfor %}
    
  
  </tbody>
</table>

{% else%}
<p>{% trans 'No messages has been made yet' %}.</p>
{% endif %}
								    	<!-- end create table for orders -->
								    	<a href="{% url 'store' %}" class="btn btn-outline-primary-2"><span>{% trans 'More SHOPING' %}</span><i class="icon-long-arrow-right"></i></a>
								    	
								    </div><!-- .End .tab-pane -->

								   

								    
								</div>
	                		</div><!-- End .col-lg-9 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
      




{% endblock %}