{% extends 'homebase.html' %}
{% load static %}
{% load thumbnail %} 


{% block content %}

<main class="main">
  <div class="page-header text-center" style="background-image: url('{% static 'images/page-header-bg.jpg' %}')">
    <div class="container">
      <h1 class="page-title">Add Clearance<span>clearance</span></h1>
    </div><!-- End .container -->
  </div><!-- End .page-header -->
  <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Add Product</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create Clearance</li>
      </ol>
    </div><!-- End .container -->
  </nav><!-- End .breadcrumb-nav -->
</main>
 

 <div class="container">
 	<div class="row">

 		<div class="col-lg-3">
 			
 		</div>
 		<div class="col-lg-6">

 			<table class="table">
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Product name</th>
      <th scope="col">Price</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
  	{% for product in user_products%}
    <tr>
      <th scope="row"><img src="{{ product.images.url }}" alt="{{ product.product_name }}" style="max-width: 100px; height: auto;"></th>
      <td>{{product.product_name}}</td>
      <td>{{product.price}}</td>
      <td><a href="{% url 'update_product' product.id %}">Add Clearance</a> <br> </td>
     
    </tr>
    {% endfor %}
    
   
  </tbody>
</table>
 			
 		</div>
 		<div class="col-lg-3">
 			
 		</div>
 		
 	</div>
 	
 </div>

{% endblock %}