{% extends 'homebase.html' %}
{% load static %}
{% load thumbnail %} 
 

{% load i18n %}

{% block content %}
{% if current_language == 'ar' %}
    <style>
      .main {
        direction: rtl;
      }
      tr{
        text-align: center;
      }
      .row{
        text-align: right;
      }
      .product-media{
        margin-right: 0.2rem !important;
        margin-left: 1em !important;
      }
    </style>
   {% endif %}

<!-- article_form.html -->

 <script src="{% static 'tinymce/tinymce.min.js' %}"></script>
 <script>
    tinymce.init({selector: '#id_body'});
 </script>


<main class="main">
            <!-- Include the ads template -->
            {% include 'partials/ads.html' %}
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">{% trans 'Home' %}</a></li>
                        <li class="breadcrumb-item"><a href="#">{% trans 'Blog' %}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{% trans 'Create a Article' %}</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->


<div class="container">
	<br>
	<div class="row">
		{% include 'includes/management_center_sidebar.html' %}
		<div class="col-sm-9">

			   <form method="post" enctype="multipart/form-data" >
                                   	{% csrf_token %}
			                				<div class="row">
			                				   <div class="tab-pane fade show active" id=" tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
								    	           <p>({% trans 'Hello' %} <span class="font-weight-normal text-dark">{{user.full_name}})</span>  
								    	              <br>
                                                      <strong>{% trans 'To post an article on our Django website' %}:</strong><br>

                                                    <strong>1.</strong> {% trans 'When Click on' %} "{% trans 'Add Article' %}."<br>
                                                    <strong>2.</strong> {% trans 'Input a compelling title, upload an image, and create a article after share your content' %}.<br>
                                                    <strong>3.</strong> {% trans 'Hit Post Article to instantly publish your article with title, image, and paragraph' %}.
								    	               .</p>
								               </div><!-- .End .tab-pane -->
			                					<div class="col-sm-6">
			                						<label>{% trans 'Title' %} *</label>
			                						<input type="text" name="title" class="form-control" required>
			                						<small class="form-text">{% trans 'This will be how your name will be displayed in the account section and in reviews' %}</small>
			                					</div><!-- End .col-sm-6 -->

			                					<div class="col-sm-6">
			                						<label>{% trans 'Add Image' %}  *</label>
			                						<input name="image" type="file" class="form-control" required>
			                						<small class="form-text">{% trans 'This will be how your name will be displayed in the account section and in reviews' %}</small>
			                						
			                					</div><!-- End .col-sm-6 -->
			                				</div><!-- End .row -->
			                				<label>{% trans 'Body' %} *</label>
	        							    <textarea name="body" style="height: 500px;" id="id_body" class="form-control" cols="30" rows="4" placeholder="here you can create you article and you can add images and links and more ..."></textarea>
	        							    <small class="form-text">{% trans 'This will be how your name will be displayed in the account section and in reviews' %}</small>
			                				
                                            <br>
                                            <hr>
		                					<button type="submit" class="btn btn-outline-primary-2">
			                					<span>{% trans 'Post Article' %}</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>
			   </form>
			
		</div>
		
	</div>
</div>
</main>                             



{% endblock %}