{% extends 'homebase.html' %}
{% load static %}

 

{% block content %}
<main class="main">
        	<!-- Include the ads template -->
            {% include 'partials/ads.html' %}
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'blog' %}">blog</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Terms and Conditions</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                	<h2 class="title text-center mb-3">Terms and Conditions</h2><!-- End .title -->
        			<div class="accordion accordion-rounded" id="accordion-1">
					    <div class="card card-box card-sm bg-light">
					        <div class="card-header" id="heading-1">
					            <h2 class="card-title">
					                <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
					                    Terms and Conditions for Eco-dz E-Commerce Website
					                </a>
					            </h2>
					        </div><!-- End .card-header -->
					        <div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-1">
					            <div class="card-body">
					                

   These terms and conditions ("Terms") govern your use of the Eco-dz e-commerce website (the "Website") and your interactions with Eco-dz ("we," "us," or "our"). By accessing or using the Website, you agree to comply with these Terms. If you do not agree to these Terms, please do not use the Website.
 
					            </div><!-- End .card-body -->
					        </div><!-- End .collapse -->
					    </div><!-- End .card -->

					    <div class="card card-box card-sm bg-light">
					        <div class="card-header" id="heading-2">
					            <h2 class="card-title">
					                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
					                    1. Acceptance of Terms
					                </a>
					            </h2>
					        </div><!-- End .card-header -->
					        <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-1">
					            <div class="card-body">
					                1.1. By using the Website, you agree to be bound by these Terms, including any policies and guidelines incorporated by reference.
					            </div><!-- End .card-body -->
					        </div><!-- End .collapse -->
					    </div><!-- End .card -->

					    <div class="card card-box card-sm bg-light">
					        <div class="card-header" id="heading-3">
					            <h2 class="card-title">
					                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
					                    2. Registration and Accounts
					                </a>
					            </h2>
					        </div><!-- End .card-header -->
					        <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-1">
					            <div class="card-body">
					               2.1. To use certain features of the Website, you may be required to register an account. You are responsible for maintaining the confidentiality of your account credentials and for all activities that occur under your account.
					            </div><!-- End .card-body -->
					        </div><!-- End .collapse -->
					    </div><!-- End .card -->

					    <div class="card card-box card-sm bg-light">
					        <div class="card-header" id="heading-4">
					            <h2 class="card-title">
					                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
					                    3. Orders and Payments
					                </a>
					            </h2>
					        </div><!-- End .card-header -->
					        <div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion-1">
					            <div class="card-body">
					               3.1. By placing an order on our Website, you agree to pay all charges associated with that order.
3.2. Payment methods, pricing, and shipping information are outlined in our separate Shipping and Payment Policy.
					            </div><!-- End .card-body -->
					        </div><!-- End .collapse -->
					    </div><!-- End .card -->
					</div><!-- End .accordion -->

                	<h2 class="title text-center mb-3">Orders and Returns</h2><!-- End .title -->
        			<div class="accordion accordion-rounded" id="accordion-2">
					    <div class="card card-box card-sm bg-light">
					        <div class="card-header" id="heading2-1">
					            <h2 class="card-title">
					                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2-1" aria-expanded="false" aria-controls="collapse2-1">
					                    4. Product Information
					                </a>
					            </h2>
					        </div><!-- End .card-header -->
					        <div id="collapse2-1" class="collapse" aria-labelledby="heading2-1" data-parent="#accordion-2">
					            <div class="card-body">
					               4.1. While we strive to provide accurate product descriptions, product images, and other information, we do not warrant the accuracy or completeness of this information.
					            </div><!-- End .card-body -->
					        </div><!-- End .collapse -->
					    </div><!-- End .card -->

					    <div class="card card-box card-sm bg-light">
					        <div class="card-header" id="heading2-2">
					            <h2 class="card-title">
					                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2-2" aria-expanded="false" aria-controls="collapse2-2">
					                    5. Returns and Refunds
					                </a>
					            </h2>
					        </div><!-- End .card-header -->
					        <div id="collapse2-2" class="collapse" aria-labelledby="heading2-2" data-parent="#accordion-2">
					            <div class="card-body">
					                5.1. Our Return and Refund Policy outlines the procedures and conditions for returning products and requesting refunds.
					            </div><!-- End .card-body -->
					        </div><!-- End .collapse -->
					    </div><!-- End .card -->

					    <div class="card card-box card-sm bg-light">
					        <div class="card-header" id="heading2-3">
					            <h2 class="card-title">
					                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2-3" aria-expanded="false" aria-controls="collapse2-3">
					                    6. Privacy
					                </a>
					            </h2>
					        </div><!-- End .card-header -->
					        <div id="collapse2-3" class="collapse" aria-labelledby="heading2-3" data-parent="#accordion-2">
					            <div class="card-body">
					               6.1. Our Privacy Policy explains how we collect, use, and protect your personal information. 
					            </div><!-- End .card-body -->
					        </div><!-- End .collapse -->
					    </div><!-- End .card -->
					</div><!-- End .accordion -->

                	<h2 class="title text-center mb-3">More Terms and Conditions</h2><!-- End .title -->
                	<div class="accordion accordion-rounded" id="accordion-3">
					    <div class="card card-box card-sm bg-light">
					        <div class="card-header" id="heading3-1">
					            <h2 class="card-title">
					                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3-1" aria-expanded="false" aria-controls="collapse3-1">
					                    7. Intellectual Property
					                </a>
					            </h2>
					        </div><!-- End .card-header -->
					        <div id="collapse3-1" class="collapse" aria-labelledby="heading3-1" data-parent="#accordion-3">
					            <div class="card-body">
					                7.1. All content, trademarks, logos, and other intellectual property on the Website are owned by Eco-dz. You may not use, reproduce, or distribute our content without our written permission.
					            </div><!-- End .card-body -->
					        </div><!-- End .collapse -->
					    </div><!-- End .card -->

					    <div class="card card-box card-sm bg-light">
					        <div class="card-header" id="heading3-2">
					            <h2 class="card-title">
					                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3-2" aria-expanded="false" aria-controls="collapse3-2">
					                    8. Limitation of Liability
					                </a>
					            </h2>
					        </div><!-- End .card-header -->
					        <div id="collapse3-2" class="collapse" aria-labelledby="heading3-2" data-parent="#accordion-3">
					            <div class="card-body">
					               8.1. Eco-dz shall not be liable for any indirect, incidental, special, consequential, or punitive damages.
					            </div><!-- End .card-body -->
					        </div><!-- End .collapse -->
					    </div><!-- End .card -->

					    <div class="card card-box card-sm bg-light">
					        <div class="card-header" id="heading3-3">
					            <h2 class="card-title">
					                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3-3" aria-expanded="false" aria-controls="collapse3-3">
					                    9. Termination
					                </a>
					            </h2>
					        </div><!-- End .card-header -->
					        <div id="collapse3-3" class="collapse" aria-labelledby="heading3-3" data-parent="#accordion-3">
					            <div class="card-body">
					               9.1. We reserve the right to terminate or suspend your account or access to the Website at our discretion, without notice.
					            </div><!-- End .card-body -->
					        </div><!-- End .collapse -->
					    </div><!-- End .card -->

					    <div class="card card-box card-sm bg-light">
					        <div class="card-header" id="heading3-4">
					            <h2 class="card-title">
					                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3-4" aria-expanded="false" aria-controls="collapse3-4">
					                    10. Changes to Terms and Conditions
					                </a>
					            </h2>
					        </div><!-- End .card-header -->
					        <div id="collapse3-4" class="collapse" aria-labelledby="heading3-4" data-parent="#accordion-3">
					            <div class="card-body">
					               10.1. We may update these Terms at any time. Your continued use of the Website after such changes constitutes your acceptance of the updated Terms. 
					            </div><!-- End .card-body -->
					        </div><!-- End .collapse -->
					    </div><!-- End .card -->
					    <div class="card card-box card-sm bg-light">
					        <div class="card-header" id="heading3-5">
					            <h2 class="card-title">
					                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3-5" aria-expanded="false" aria-controls="collapse3-5">
					                    11. Governing Law
					                </a>
					            </h2>
					        </div><!-- End .card-header -->
					        <div id="collapse3-5" class="collapse" aria-labelledby="heading3-5" data-parent="#accordion-3">
					            <div class="card-body">
					               11.1. These Terms are governed by the laws of [Your jurisdiction]. 
					            </div><!-- End .card-body -->
					        </div><!-- End .collapse -->
					    </div><!-- End .card -->
					    <div class="card card-box card-sm bg-light">
					        <div class="card-header" id="heading3-6">
					            <h2 class="card-title">
					                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3-6" aria-expanded="false" aria-controls="collapse3-6">
					                    12. Contact Information
					                </a>
					            </h2>
					        </div><!-- End .card-header -->
					        <div id="collapse3-6" class="collapse" aria-labelledby="heading3-6" data-parent="#accordion-3">
					            <div class="card-body">
					               If you have any questions or concerns about these Terms or our Website, please contact us at:

                                   Eco-dz
                                   [Phone Number: +213 697 564 253 <br>Email: mazariyacine3@gmail.com] 
					            </div><!-- End .card-body -->
					        </div><!-- End .collapse -->
					    </div><!-- End .card -->
					</div><!-- End .accordion -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->

            <div class="cta cta-display bg-image pt-4 pb-4" style="background-image: url('{% static 'images/backgrounds/cta/bg-7.jpg' %}');">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-9 col-xl-7">
                            <div class="row no-gutters flex-column flex-sm-row align-items-sm-center">
                                <div class="col">
                                    <h3 class="cta-title text-white">If You Have Questions</h3><!-- End .cta-title -->
                                    <p class="cta-desc text-white">Quisque volutpat mattis eros</p><!-- End .cta-desc -->
                                </div><!-- End .col -->

                                <div class="col-auto">
                                    <a href="{% url 'contact' %}" class="btn btn-outline-white"><span>CONTACT US</span><i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .col-auto -->
                            </div><!-- End .row no-gutters -->
                        </div><!-- End .col-md-10 col-lg-9 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .cta -->
        </main><!-- End .main -->


{% endblock %}