{% load i18n %}
{% load static %}
 
{% load custom_filters %}
<!DOCTYPE html>
<html lang="{% get_current_language as current_language %}">




<!-- molla/index-3.html  22 Nov 2019 09:55:42 GMT -->
<head>
   

    <meta charset="UTF-8">
    {% if current_language == 'ar' %}
    <style>
        /* Add your RTL CSS styles here */
        @font-face {
        font-family: 'Cairo';
        src: url('{% static "fonts/Cairo-Regular.ttf" %}') format('truetype');
        font-weight: normal;
        font-style: normal;
        }
        body {
          font-family: 'Cairo', sans-serif;
        }
        body a{
            font-family: 'Cairo', sans-serif !important;
        }
         body p{
            font-family: 'Cairo', sans-serif !important;
        }
        .linker {
            direction: rtl;
            margin-left: 2em;
           
        }
        #q{
            text-align: right;
            direction: rtl;
        }
       
        .header-center a {
            
            margin-left: 2em;
        }
        .deal{
            direction: rtl;
        }
        
       
        footer{
            direction: rtl;
            text-align: justify;
        }
        .widget-list{
            direction: rtl;
            
        }
        .icon-box-content{
            text-align: right;
        }
        .supporter{
            direction: rtl;
        }
        .product-body{
            direction: rtl;
        }
        .new-price{
            margin-right: .1rem;
        }
        .old-price{
            margin-right: 0.5em;
        }
        .signboard{
            direction: rtl;
        }
        .cta-text{
            text-align: right;
        }
        .cta-content a{
            margin-right: 1em;
        }
        .page-header .page-title{
            font-family: 'Cairo', sans-serif;
        }
        .menu li{
            text-align: right;
        }
        .header-menu{
            width: 260%;
        }
    </style>
    <style>
        /* Default light mode styles */
body {
    background-color: #ffffff;
    color: #000000;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
}

    </style>
    
     {% endif %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Eco-dz Shopping</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name ="title" property="og:title" content="{{art.title}}">
    <meta name="body" >
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'iimages/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/icons/site.html' %}">
    <link rel="mask-icon" href="{% static 'images/icons/safari-pinned-tab.svg' %}" color="#666666">
    <link rel="shortcut icon" href="{% static 'images/icons/favicon.ico' %}">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="{% static 'images/icons/browserconfig.xml' %}">
    
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css' %}">
    <!-- Plugins CSS File -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/magnific-popup/magnific-popup.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static 'css/plugins/jquery.countdown.css' %}">
    <!-- custom style -->
    
    <link href="{% static 'css/ui.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" media="only screen and (max-width: 1200px)" />

    <link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/skins/skin-demo-3.css' %}">
    <link rel="stylesheet" href="{% static 'css/demos/demo-3.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/styi.css' %}">
    <!-- arabic font -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/arabic-font.css' %}">
    <!-- PayPal Script -->

</head>

<body>
	
<div class="page-wrapper">
<header class="header header-intro-clearance header-3">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <a href="tel:#"><i class="icon-phone"></i>Call: +213 0697 56 42 53</a>
                    </div><!-- End .header-left -->

                    <div class="header-right">

                        <ul class="top-menu">
                            <li>
                                <a href="#">{% trans 'Profile' %}</a>
                                <ul>
                                  {% if user.is_staff %}
                                    
                                    
                                    
                                     <li>
                                        <div class="">
                                            <a href="{% url 'newsletter:send_daily_slide_email' %}">NewsLettre Send Updates</a>
                                            
                                        </div>
                                    </li>
                                    {% endif %}
                                   
                                    <li>
                                        <div class="">
                                            <a href="">DZA (DA)</a>
                                            
                                        </div>
                                    </li>
                                    <li>
                                        <div class="header-dropdown">
                                             <a href="/{% get_current_language as language_code %}/">{% trans "Language" %}</a>
                                             <div class="header-menu">
                                                  <ul>
                                                     <li><a href="/en/">{% trans "English" %}</a></li>
                                                     <li><a href="/fr/">{% trans "French" %}</a></li>
                                                     <li><a href="/ar/">{% trans "Arabic" %}</a></li>
                                                  </ul>
                                             </div><!-- End .header-menu -->
                                        </div>

                                    </li>
                                    {% if user.id is None %}
                                   
                                    
                                    <li>
                                        <div class="header-dropdown">
                                            <a href="#">{% trans 'Make an Account' %}</a>
                                            <div class="header-menu">
                                                <ul>
                                                    <li><a href="{% url 'login' %}">{% trans 'Login' %}</a></li>
                                                    <li><a href="{% url 'register' %}">{% trans 'Register' %}</a></li>
                                                    
                                                    
                                                </ul>
                                            </div><!-- End .header-menu -->
                                        </div>
                                    </li>
                                    {%else%}
                                     <li>
                                        <div class="header-dropdown">
                                            <a href="#">{% trans 'Profile' %}</a>
                                            <div class="header-menu">
                                                <ul>
                                                    {% if user_profile_picture %}
                                                    <li><dir class="text-right">
                                                        
                                                        <img style="width: 60px;
                                                        border-radius: 50%;
                                                     height: 60px;" src="{{ user_profile_picture.url }}">
                                                     
                                                    </dir>
                                                    </li>
                                                    {% else %}
                                                     <li><dir class="text-right">
                                                        
                                                        <img style="width: 30px;
                                                        border-radius: 50%;
                                                     height: 30px;" src="#">
                                                     
                                                    </dir>
                                                    </li><br>
                                                    {% endif %}
                                                     
                                                    <li><a href="{% url 'dashboard' %}">{{user.username}}</a></li>
                                                    <li><a href="{% url 'logout'%}">{% trans 'Log Out' %}</a></li><br>
                                                    <li><a href="{% url 'dashboard' %}">{% trans 'Dashboard' %}</a></li>
                                                    <li><a href="{% url 'stock' %}">{% trans 'Stock' %}</a></li>
                                                    {% if user.is_staff %}
                                                   
                                                    <li><a href="{% url 'Management_Center' %}">{% trans 'Management Center' %}</a></li>
                                                   
                                                    
                                                    
                                                    {% endif %}
                                                    
                                                    
                                                </ul>
                                            </div><!-- End .header-menu -->
                                        </div>
                                    </li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->

                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>
                        
                        <a href="{% url 'home' %}" class="logo">
                            <img src="{% static 'images/demos/demo-3/logoo.png' %}" alt="Molla Logo" width="105" height="25">
                        </a>
                    </div><!-- End .header-left -->

                    <div class="header-center">
                        <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form action="{% url 'search' %}" class="search" method='GET'>
                                <div class="header-search-wrapper search-wrapper-wide">
                                    <label for="q" class="sr-only">{% trans 'Search' %}</label>
                                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                    <input type="search" class="form-control" name="keyword" id="q" placeholder="{% trans 'Search product' %} ..." required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                    </div>

                    <div class="header-right">
                        <div class="dropdown compare-dropdown">
                           
                               

                               
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .compare-dropdown -->
                         {% if user.is_staff %}
                         <div class="wishlist">
                            <a href="{% url 'printing' %}" title="Orders">
                                <div class="icon">
                                    <i class="la la-lightbulb-o"></i>
                                    <span class="wishlist-count badge">{{seller_order_count}}</span>
                                </div>
                                <p>{% trans 'Orders' %}</p>
                            </a>
                        </div><!-- End .compare-dropdown -->
                        {% endif %}

                        <div class="wishlist">
                            <a href="{% url 'wishlist' %}" title="Wishlist">
                                <div class="icon">
                                    <i class="icon-heart-o"></i>
                                    <span class="wishlist-count badge">{{ wishlist_items_count }}</span>
                                </div>
                                <p>{% trans 'Wishlist' %}</p>
                            </a>
                        </div><!-- End .compare-dropdown -->
                        

                        <div class="dropdown cart-dropdown">
                            <a href="{% url 'cart' %}" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                <div class="icon">
                                    <i class="icon-shopping-cart"></i>
                                    <span class="cart-count">{{cart_count}}</span>
                                </div>
                                <p>{% trans 'Cart' %}</p>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-cart-products">
                                    {% for c in item %}
                                    <div class="product">
                                        
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="">{{c.product}}</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">{{c.quantity}}
                                                </span>
                                                x 
                                                {% if c.product.clearance_price%}
                                                {{c.product.clearance_price}} DA
                                                {% else %}
                                                {{c.product.price}} DA
                                                {% endif %}
                                            </span>
                                        </div><!-- End .product-cart-details -->
                                        
                                        <figure class="product-image-container">
                                            <a href="product.html" class="product-image">
                                                <img src="{{c.product.images.url}}">
                                            </a>
                                        </figure>
                                       
                                    </div><!-- End .product -->
                                    {% endfor %}
                                   

                                

                                <div class="dropdown-cart-action">
                                    <a href="{% url 'cart'%}" class="btn btn-primary">{% trans 'View Cart' %}</a>
                                    <a href="{% url 'checkout' %}" class="btn btn-outline-primary-2"><span>{% trans 'Checkout' %}</span><i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .dropdown-cart-total -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">
                        <div class="dropdown category-dropdown">
                            <a href="{% url 'show_category' %}" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Browse Categories">
                                {% trans 'Browse Categories' %} <i class="icon-angle-down"></i>
                            </a>

                            <div class="dropdown-menu">
                                <nav class="side-nav">
                                    <ul class="menu-vertical sf-arrows">
    <li class="item-lead"><a href="{% url 'show_category' %}">{% trans 'All Products' %}</a></li>
    {% for category in categories %}
    <li class="item-lead">
        <a href="{% url 'products_by_category' category.slug %}">{{ category.category_name }}</a>
        {% if category_dict|get:category %}
        <ul class="menu-vertical sf-arrows">
            {% for subcategory in category_dict|get:category %}
            <li class="item-lead">

                <a href="{% url 'products_by_category' category.slug subcategory.slug %}">{{ subcategory.name }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
    {% endfor %}
</ul><!-- End .menu-vertical -->

                                </nav><!-- End .side-nav -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .category-dropdown -->
                    </div><!-- End .header-left -->
                    
                    <div class="header-center linker">
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a href="{% url 'home' %}" class="">{% trans 'Home' %}</a>


                                </li>
                                <li>
                                    <a href="{% url 'store' %}" class="">{% trans 'Shop' %}</a>

                                   
                                </li>
                                
                                <li>
                                    <a href="#" class="sf-with-ul">{% trans 'Pages' %}</a>

                                    <ul>
                                        <li>
                                            <a href="{% url 'about' %}" class="">{% trans 'About' %}</a>

                                           
                                        </li>
                                        <li>
                                   <a href="{% url 'contact' %}" class="">{% trans 'Contact' %}</a>

                                           
                                        </li>
                                        
                                        <li><a href="{% url 'faqs' %}">{% trans 'FAQs' %}</a></li>
                                        
                                        
                                    </ul>
                                </li>
                                <li>
                                    <a href="{% url 'blog' %}" class="">{% trans 'Blog' %}</a>

                                    
                                </li>
                                
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-center -->

                    <div class="header-right">
                        <i class="la la-lightbulb-o"></i><p><a class="" href="{% url 'Clearance_Products' %}">{% trans 'Clearance' %}</a><span class="highlight">&nbsp;{% trans 'Up to 30 percent Off' %}</span></p>
                    </div>
                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->
  
{% block content %}

{% endblock %}
<footer class="footer">
        	<div class="footer-middle">
	            <div class="container">
	            	<div class="row">
	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget widget-about">
	            				<img src="{% static 'images/demos/demo-3/vb.png' %}" class="footer-logo" alt="Footer Logo" width="105" height="25">
	            				<p>{% trans 'Eco-dz Shopping is your one-stop destination for eco-conscious living.' %}'  </p>

	            				<div class="widget-call">
                                    <i class="icon-phone"></i>
                                    {% trans 'Got Question? Call us 24/7' %}
                                    <a href="tel:#">+213 697 564 253</a>         
                                </div><!-- End .widget-call -->
	            			</div><!-- End .widget about-widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">{% trans ' Useful Links' %}</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="{% url 'about' %}">{% trans 'About' %} Eco dz</a></li>
                                    
	            					<li><a href="{% url 'faqs' %}">{% trans 'FAQ' %}</a></li>
	            					<li><a href="{% url 'contact' %}">{% trans 'Contact us' %}</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">{% trans 'Customer Service' %}</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					
	            					<li><a href="#">{% trans 'Returns' %}</a></li>
	            					<li><a href="{% url 'store' %}">{% trans 'Shipping' %}</a></li>
	            					<li><a href="{% url 'Terms_and_conditions' %}">{% trans 'Terms and conditions' %}</a></li>
	            					<li><a href="{% url 'Privacy' %}">{% trans 'Privacy Policy' %}</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">{% trans 'My Account' %}</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
                                    {% if not user.is_staff %}
	            					<li><a href="{% url 'login' %}">{% trans 'Sign In' %}</a></li>
                                    {% endif %}
	            					<li><a href="{% url 'cart' %}">{% trans 'View Cart' %}</a></li>
	            					<li><a href="{% url 'wishlist' %}">{% trans 'My Wishlist' %}</a></li>
	            					
	            					<li><a href="{% url 'contact' %}">{% trans 'Help' %}</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->
	            	</div><!-- End .row -->
	            </div><!-- End .container -->
	        </div><!-- End .footer-middle -->

	        <div class="footer-bottom">
	        	<div class="container">
	        		<p class="footer-copyright">{% trans 'Copyright © 2026 Eco-dz Shopping. All Rights Reserved.' %}</p><!-- End .footer-copyright -->
	        		<figure class="footer-payments">
	        			<img src="{% static 'images/payments.png' %}" alt="Payment methods" width="272" height="20">
	        		</figure><!-- End .footer-payments -->
	        	</div><!-- End .container -->
	        </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .wrapper -->

     <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>
            
            <form action="{% url 'search' %}" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="keyword" id="q" placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                 
            </form>

            <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab" role="tab" aria-controls="mobile-menu-tab" aria-selected="true">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="mobile-cats-link" data-toggle="tab" href="#mobile-cats-tab" role="tab" aria-controls="mobile-cats-tab" aria-selected="false">Categories</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel" aria-labelledby="mobile-menu-link">
                    <nav class="mobile-nav">
                        <ul class="mobile-menu">
                            <li class="active">
                                <a href="index.html">Home</a>

                                
                            </li>
                            <li>
                                <a href="category.html">Shop</a>
                               
                            </li>
                            <li>
                                <a href="product.html" class="sf-with-ul">Product</a>
                                
                            </li>
                            <li>
                                <a href="#">Pages</a>
                                <ul>
                                    <li>
                                        <a href="about.html">About</a>

                                       
                                    </li>
                                    <li>
                                        <a href="contact.html">Contact</a>

                                       
                                    </li>
                                   
                                    <li><a href="faq.html">FAQs</a></li>
                                    
                                    <li><a href="coming-soon.html">Coming Soon</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="blog.html">Blog</a>

                                
                            </li>
                           
                        </ul>
                    </nav><!-- End .mobile-nav -->
                </div><!-- .End .tab-pane -->
                <div class="tab-pane fade" id="mobile-cats-tab" role="tabpanel" aria-labelledby="mobile-cats-link">
                    <nav class="mobile-cats-nav">
                        <ul class="mobile-cats-menu">
                            {% for category in categories %}
                            <li><a class="mobile-cats-lead" href="{% url 'products_by_category' category.slug %}">{{ category.category_name }}</a></li>
                            
                            
                            
                            
                            {% if category_dict|get:category %}
                            {% for subcategory in category_dict|get:category %}
                            <li><a href="{% url 'products_by_category' category.slug subcategory.slug %}">{{ subcategory.name }}</a></li>
                            {% endfor %}
                            {% endif %}
                           
                            {% endfor %}
                        </ul><!-- End .mobile-cats-menu -->
                    </nav><!-- End .mobile-cats-nav -->
                </div><!-- .End .tab-pane -->
            </div><!-- End .tab-content -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill nav-border-anim" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="singin-email">Username or email address *</label>
                                            <input type="text" class="form-control" id="singin-email" name="singin-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">Password *</label>
                                            <input type="password" class="form-control" id="singin-password" name="singin-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="signin-remember">
                                                <label class="custom-control-label" for="signin-remember">Remember Me</label>
                                            </div><!-- End .custom-checkbox -->

                                            <a href="#" class="forgot-link">Forgot Your Password?</a>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="register-email">Your email address *</label>
                                            <input type="email" class="form-control" id="register-email" name="register-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">Password *</label>
                                            <input type="password" class="form-control" id="register-password" name="register-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SIGN UP</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy" required>
                                                <label class="custom-control-label" for="register-policy">I agree to the <a href="#">privacy policy</a> *</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login  btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->

    
</body>
 <!-- Plugins JS File -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/superfish.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-input-spinner.js' %}"></script>
    <script src="{% static 'js/jquery.plugin.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <!-- Main JS File -->
    <script src="{% static 'js/main4.js' %}"></script>
    <script src="{% static 'js/demos/demo-3.js' %}"></script>
    <!--<script src="https://www.paypal.com/sdk/js?client-id=AVBSMqNtoZ1IUO6lrSe6-vm9AIV1ZKN8CgXu_nINRs80xELRs650mh3yR62groIUg-GCe59Od_EFOG6O&currency=USD"></script>-->


</html>