@font-face {
    font-family: 'Cairo';
    src: url('../assets/fonts/Cairo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Cairo', sans-serif;
}
