

{% extends 'homebase.html' %}
{% load static %}
{% load thumbnail%}
{% load i18n %}

{% block content %}
{% if current_language == 'ar' %}
    <style>
      .main {
        direction: rtl;
      }
      tr{
        text-align: center;
      }
      .row{
        text-align: right;
      }
      .product-media{
        margin-right: 0.2rem !important;
        margin-left: 1em !important;
      }
    </style>
   {% endif %}
<main class="main">
    <!-- Include the ads template -->
                {% include 'partials/ads.html' %}
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">{% trans 'Home' %}</a></li>
                <li class="breadcrumb-item"><a href="#">{% trans 'Low Stock information' %}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% trans 'Inventory Overview' %}</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->
  
<div class="container">
  <div class="row">
{% include 'includes/stock_sidebar.html' %}
    <div class="col-lg-9">
      

         <div class="inventory-container">
          <h3>{% trans 'Product List with Low Stock' %}</h3>
          <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{% trans 'Prodcut Name' %}</th>
      <th scope="col">{% trans 'Initial Stock' %}</th>
      <th scope="col">{% trans 'Sell Stock' %}</th>
      <th scope="col">{% trans 'Rest Stock' %}</th>
      <th scope="col">{% trans 'Reorder Point' %}</th>
     

     
    </tr>
  </thead>
  <tbody>
    {% for p in low_stock_products %}
    <tr class="{% if p.is_low_stock %}low-stock{% endif %}">
      <td>
         {% thumbnail p.product.images "70x70" crop="center" as p_pic %}                                                          
          <img width="{{ p_pic.width }}" height="{{p_pic.height }}" src="{{p_pic.url}}">
          {% endthumbnail %}
      </td>
      <td style="padding-left: 30px;padding-right: 5px;">{{p.product.product_name}}<br>{{p.color}}: {{p.size}}</td>
      <td>{{p.initial_stock_quantity}}</td>
      <td>{{p.stock_difference}}</td>
      {% if p.quantity <= 10 %}
      <td style="color: red;">{{p.quantity}}</td>
      {% else%}
      <td>{{p.quantity}}</td>
      {% endif %}
      {% if p.is_low_stock %}
      <td style="color: red;">{% trans 'low-stock' %}</td>
      {% else%}

      <td>{{p.reorder_point}}</td>
      {% endif %}
      
      

     
    </tr>
    {% endfor %}
   
  </tbody>
</table>

   

   
         
   

      
         </div>
    
    </div>
  
  </div>
</div>
</main>
{% endblock %}
